.app-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #0f1d2d;
    padding: 10px 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.form-container {
    width: 1600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    width: 33%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.toggle-auth {
    margin-top: 20px;
}

.toggle-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding-left: 5px;
    text-decoration: underline;
}

.meal-plan-container {
    display: flex;
    overflow-x: auto;
    padding: 1em 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.meal-plan-day.like {
    background-color: #a8f888;  /* Light green */
}

.meal-plan-day.dislike {
    background-color: #f79a9a;  /* Light red */
}

.meal-plan-day {
    flex: 0 0 auto;
    width: 80vw;
    max-width: 500px;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    scroll-snap-align: start;
}

.meal-plan-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
