@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.profile-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;  
    align-items: center;
    background-color: #1DB954;
  }
  
  .prepr-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #1DB954;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


.profile-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;  /* reduced padding */
    transition: background-color 0.2s;
}

.profile-button:hover {
    background-color: #1ED760;
}

.profile-button img {
    width: 30px;  /* reduced size */
    height: 30px;  /* reduced size */
    border-radius: 50%;
}

.profile-modal {
    position: absolute;
    top: 40px;  /* moved closer to the button */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-modal button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
}

.profile-modal button:hover {
    background-color: #1ED760;
}

.profile-modal button:last-child {
    margin-bottom: 0;
}