:root {
  --ion-color-primary: #21ce99; /* Robinhood green */
  --ion-color-primary-rgb: 33, 206, 153;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1dbf88; /* Slightly darker green */
  --ion-color-primary-tint: #48d6a9; /* Slightly lighter green */
  /* ... */
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: #121212; /* Deep black */
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    /* ... */
  }

  /* ... */
}
